@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Angular/User/Service.js"></script>
<script src="~/Content/Angular/User/Controller.js"></script>

@*<script src="~/Content/Angular/employee/ControllerEmployee.js"></script>*@
<div ng-controller="user">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Scripts/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
    <!--start scrollbar icin kullanılanlar -->
    <link href="~/Scripts/plugins/scrollbar/style.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/scrollbar/prettify/prettify.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/scrollbar/prettify/prettify.js"></script>
    <script src="~/Scripts/plugins/scrollbar/jquery.js"></script>
    <script src="~/Scripts/plugins/scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript">
    if (window.location.href.match(/gromo.github.io/i)) {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52878040-1', 'auto');
        ga('send', 'pageview');
    }
    </script>
    <style type="text/css" id="css-common">
        /*************** SCROLLBAR BASE CSS ***************/

        .scroll-wrapper {
            overflow: hidden !important;
            padding: 0 !important;
            position: relative;
        }

            .scroll-wrapper > .scroll-content {
                border: none !important;
                box-sizing: content-box !important;
                height: auto;
                left: 0;
                margin: 0;
                max-height: none;
                max-width: none !important;
                overflow: scroll !important;
                padding: 0;
                position: relative !important;
                top: 0;
                width: auto !important;
            }

                .scroll-wrapper > .scroll-content::-webkit-scrollbar {
                    height: 0;
                    width: 0;
                }

        .scroll-element {
            display: none;
        }

            .scroll-element, .scroll-element div {
                box-sizing: content-box;
            }

                .scroll-element.scroll-x.scroll-scrollx_visible,
                .scroll-element.scroll-y.scroll-scrolly_visible {
                    display: block;
                }

                .scroll-element .scroll-bar,
                .scroll-element .scroll-arrow {
                    cursor: default;
                }

        .scroll-textarea {
            border: 1px solid #cccccc;
            border-top-color: #999999;
        }

            .scroll-textarea > .scroll-content {
                overflow: hidden !important;
            }

                .scroll-textarea > .scroll-content > textarea {
                    border: none !important;
                    box-sizing: border-box;
                    height: 100% !important;
                    margin: 0;
                    max-height: none !important;
                    max-width: none !important;
                    overflow: scroll !important;
                    outline: none;
                    padding: 2px;
                    position: relative !important;
                    top: 0;
                    width: 100% !important;
                }

                    .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
                        height: 0;
                        width: 0;
                    }
    </style>
    <p class="divHead">Users List</p>

    <br />

    <input type="button" class="btnAdd" value=" Add User" ng-click="AddEmployeeDiv()" />
    <input type="button" class="btnAdd" value=" Add Address" ng-click="AddAddressDiv()" />

    <div class="divList">
        <p>Filter</p>
        <input type="text" ng-model="Allrow" value="All Rows" class="inputText">
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td style="display:none"><b>Id</b></td>
                <td><b>Name</b></td>
                <td><b>LastName</b></td>
                <td><b>Email</b></td>
                <td><b>Addrres</b></td>
                <td><b>Setting</b></td>
            </tr>
            <tr ng-repeat="employee in employees | filter:Allrow">
                <td style="display:none">
                    {{employee.ID}}
                </td>
                <td>
                    {{employee.Name}}
                </td>
                <td>
                    {{employee.LastName}}
                </td>
                <td>
                    {{employee.Email}}
                </td>
                <td>
                    {{employee.AddressName}}

                </td>
                <td>
                    <span ng-click="editEmployee(employee)" class="btnAdd">Edit</span>
                    <span ng-click="deleteEmployee(employee)" class="btnRed">Delete</span>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="divEmployee">
        <p class="divHead">{{Action}} Employee</p>
        <table>
            @*   <tr>
                    <td><b>Id</b></td>
                    <td>
                        <input type="text" disabled="disabled" ng-model="employee.ID" />
                    </td>
                </tr>*@
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="employee.Name" />
                </td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>
                    <input type="text" ng-model="employee.LastName" />
                </td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>
                    <input type="text" ng-model="employee.Email" />
                </td>
            </tr>

            <tr>
                <b>Address</b>

                <select data-ng-options="addres.Id as addres.Name for addres in address" data-ng-model="employee.AddressId" required></select>

            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btnAdd" value="Save" ng-click="AddUpdateEmployee(employee)" />
                </td>
            </tr>

        </table>
    </div>

    <div ng-show="divAddress">
        <p class="divHead">{{Action2}} Address</p>
        <table>
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="address.Name" />
                </td>
            </tr>
            <td>

            <td colspan="2">
                <input type="button" class="btnAdd" value="Save" ng-click="AddAddress(address)" />
            </td>
            </td>
        </table>
    </div>
</div>
